{% extends 'layout.html' %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
	            <h2>The Business Center</h2>
	            <p>The Buusiess Center is a company that will exposes you to more than two million users, a market base like no other and environment that will best suit your clients. The Business Center has stood the taste of time and will develop with your business. <b>Register now!!!</b></p>   
	            <hr>     
	            <div>
					<div class="text-center">
						<a href="/login" class="btn btn-primary">Sign In</a>
						<a href="/register" class="btn btn-success">Register</a>
					</div>
	            </div>
			    	
			</div>

			
		</div>
	</div>
	<hr>
	

{% endblock %}